html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.container {
    width: 513px;
    height: 701px;
    margin: 40px auto;
    padding: 10px 20px;
    background-size: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container__footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form__fieldset {
    border: none;
    padding-top: 230px;
}

.form__currency {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 1px;
}

.form__result {
    margin-left: 120px;
    width: 200px;
    display: inline-block;
    padding: 10px 10px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: #1c19d8;
    background-color: #cccccc;
}

.form__field {
    padding: 10px;
    width: 100%;
    max-width: 266px;
    margin-left: 85px;
    background-color: #cccccc;
    border: 1px solid #b0b0b0;
}

.form__legend {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 0;
    left: 50%;
    background-color: #388181;
    color: #ffffff;
    padding: 10px;
    letter-spacing: 2px;
}